  <center>
        <h1 style="background-color:black">
            <font color=white>SOS1718-10
            <p style="float:right"><i>Edit Pilot</i></p></font>
            <img src="./img/moto.png" width="75" height="50" style="float:left"></img>
        </h1>
    </center>
<table class="table">
    <thead>
        <tr align=center>
            <th><b>Year</b></th>
            <th><b>Pilot</b></th>
            <th><b>Country</b></th>
            <th><b>Score</b></th>
            <th><b>Age</b></th>
            <th><b>Action</b></th>
        </tr>
        </tr>
    </thead>
    <tbody>
        <tr align=center style="background-color:#C3F3FF">
            <td>{{updatedPilot.year}}</td>
            <td><input class="form-control" ng-model="updatedPilot.pilot"/></td>
            <td><input class="form-control" ng-model="updatedPilot.country"/></td>
            <td><input type="number" class="form-control" ng-model="updatedPilot.score"/></td>
            <td><input type="number" class="form-control" ng-model="updatedPilot.age"/></td>
            <td><button class="button btn-primary" ng-click="updatePilot()">Updated</button></td>
        </tr>
    </tbody>
</table>
<hr/>
<h8><i>{{status}}</i></h8>