<center>
        <h1 style="background-color:black">
            <font color=white>SOS1718-10
            <p style="float:right"><i>List Pilots</i></p></font>
            <a href="https://sos1718-10.herokuapp.com/motogp-stats/secure/"><img src="./img/moto.png" width="75" height="50" style="float:left"></img></a>
        </h1>
</center>
<table class="table">
    <thead>
   
        <tr>
            <th>Pasword<input class="form-control" ng-model="apikey" type="password"></th>
            <th class="text-center"><button class="btn-primary" ng-click="getPilots()">LOGIN</button></th>
            <th class="text-center"><button class="btn btn-warning" ng-click="loadInitialData()">INITIALIZE</button></th>
        </tr>
        
        <tr align=center style="background-color:#BAFFD6">
            <th class="success"> Introduce LIMIT<input class="form-control" ng-model="limit" placeholder="Limit"/></th>
            <th class="success"> Introduce OFFSET<input class="form-control" ng-model="offset" placeholder="Offset"/></th>
            <th class="success"><button class="btn btn-success" ng-click="getPaginacion()">GET</button></th>
        </tr>
    </thead>    
<table class="table">
    <thead>       
        <tr style="background-color:#EEFCFE">
            <th class="success">Search By Year<input class="form-control" ng-model="newPilot.year" placeholder="Year"/></th>
            <th class="success"><button class="btn btn-success" ng-click="search()">SEARCH</button></th>
            
        </tr>
    </thead>
</table>       
<table class="table">
    <thead>   
        <tr style="background-color:#FFD9E6">
            <h4>Empty DataBase:</h4></tr>
            <th class="success"><button class="button btn-danger" ng-click="deleteAll()">Delete All</button></th>
    </thead>        
        
</table>
        
<table class="table">
     <thead>
        
        <tr align=center>
            <th><b>Year</b></th>
            <th><b>Pilot</b></th>
            <th><b>Country</b></th>
            <th><b>Score</b></th>
            <th><b>Age</b></th>
            <th><b>Action</b></th>
        </tr>
        
    </thead>
    <tbody>
        <tr align=center style="background-color:#C3F3FF">
            <td class="info"><input type="number" class="form-control" ng-model="newPilot.year" placeholder="Year"/></td>
            <td class="info"><input class="form-control" ng-model="newPilot.pilot" placeholder="Pilot"/></td>
            <td class="info"><input class="form-control" ng-model="newPilot.country" placeholder="Country"/></td>
            <td class="info"><input type="number" class="form-control" ng-model="newPilot.score" placeholder="Score"/></td>
            <td class="info"><input type="number" class="form-control" ng-model="newPilot.age" placeholder="Age"/></td>
            <td class="info"><button class="button btn-primary" ng-click="addPilot()">Add</button></td>
            
        </tr>
        <tr align=center ng-repeat="pilot in pilots">
            <td><a href="/motogp-stats/frontsecure/#!/pilot/{{pilot.year}}">{{pilot.year}}</a></td>
            <td>{{pilot.pilot}} </td>
            <td>{{pilot.country}}</td>
            <td>{{pilot.score}}</td>
            <td>{{pilot.age}}</td>
            <td><button class="button btn-danger" ng-click="deletePilot(pilot.year)">Delete</button></td>
        </tr>
        
    </tbody>
</table>
<hr/>
<h8><i>{{status}}</i></h8>
   